.wall{
    background-image: url('../img/game2.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
.window{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
}
body .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: lightgreen;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #3d3c3c;
    padding: 10px;
    color: blueviolet;
}
.navbar .dropdown-menu a:hover{
    background-color: #545454;
    color: lightgreen;
}