@font-face{
    font-family: 'Play-Regular.ttf';
    src: url(../fonts/Play/Play-Regular.ttf) format("truetype");
}
@font-face{
    font-family: 'Poppins-Regular.ttf';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face{
    font-family: 'sega.ttf';
    src: url(../fonts/sega/SEGA.TTF) format("truetype");
}
.wall{
    background-image: url('../img/game.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.openWindow{
    font-family: 'Poppins-Regular.ttf';
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
body .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: lightgreen;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #3d3c3c;
    padding: 10px;
    color: blueviolet;
}
.navbar .dropdown-menu a:hover{
    background-color: #545454;
    color: lightgreen;
}
.navbar{
    font-family: 'sega.ttf'; 
}
.pattern{
    font-family: 'Play-Regular.ttf';
    background-image: url('../img/pscover3.png');
    color: snow;
}
.window{
    padding: 20px;
    margin: 20px;
    border: 3px solid #00f3ab;
    border-radius: 10px;
    background-color: #1a1a1a;
}
.title{
    font-size: 8vh;
    color: #00f3ab;
    margin: 20px;
    border: 4px solid #00f3ab;
    border-radius: 10px;
    background-color: #545353;
}
.subtitle{
    font-size: 6vh;
    color: #00f3ab;
    margin: 20px;
    border: 2px solid #00f3ab;
    border-radius: 10px;
    background-color: #545353;
}
.comment{
    padding: 6px;
    border: 3px solid #00f3ab;
    border-radius: 10px;
    background-color: #1a1a1a;
}
#btn_up
{
position: fixed;
bottom: 15px;
right: 20px;
cursor: pointer;
display:none;
border: 2px solid lightgreen;
border-radius: 50%;
z-index: 1000;
}
#badGateway{
    background-color: black;
}
footer{
    font-family: 'Poppins-Regular.ttf';
}
legend{
    border: 3px solid #00f3ab;
    border-radius: 10px;
    background-color: #2e2e2e;
}
th{
    border: 4px solid #00f3ab;
    border-collapse: collapse;
    background-color: #2e2e2e;
    color: #737DCA;
}
td{
    border: 2px solid snow;
    border-collapse: collapse;
    background-color: #1a1a1a;
    color: snow;
}
thead{
    border: 4px solid #00f3ab;
}
tbody{
    border: 4px solid #00f3ab;
}
@media only screen and (max-width: 700px) {
    .table-responsive table, 
    .table-responsive thead, 
    .table-responsive tbody, 
    .table-responsive tr, 
    .table-responsive th, 
    .table-responsive td {
        display: block;
        border: none;
    }
    .table-responsive thead {
        display: none;
    }
    .table-responsive td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background-color: #545353;
        color: snow;
    }
    .table-responsive td:nth-child(odd) {
        background-color: #1a1a1a;
        color: snow;
    }
    .table-responsive td::before {
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: #2e2e2e;
        color: #737DCA;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .table-responsive tr {
        margin-bottom: 1rem;
        border: 2px solid #00f3ab;
    }
    .table-responsive th + td {
        padding-left: 10px;
    }
    body .table td, .table th {
        padding-left: 8.75rem;
    }
}